:root {
  /* Colors */
  --dark-purple: #13005a;
  --dark-blue: #00337c;
  --medium-blue: #1c82ad;
  --bright-green: #03c988;
  --gradient-color-1: #ee7752;
  --gradient-color-2: #e73c7e;
  --gradient-color-3: #23a6d5;
  --gradient-color-4: #23d5ab;
}
